.container {
  background-color: var(--bkgrd_marine-tone02);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;

  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

.open_container {
  transform: translateX(0%);
}

.header {
  padding: 1rem;
  text-align: end;
}

.close_button {
  background-color: transparent;
  border: none;
  color: var(--font_grey-tone01);
}

.search_form {
  margin-top: 1rem;
  display: flex;
  gap: 3%;
}

.input_field {
  background-color: var(--bkgrd_grey-tone01);
  width: 70%;
  border-radius: 0.25rem;
  display: flex;
  align-content: flex-start;
}

.input_field input {
  border: none;
  background-color: transparent;

  padding: 0.75rem 0;

  font-size: 0.875rem;
  outline: none;
}

.input_field span {
  padding: 0.75rem 0.5rem;
  padding-right: 0.25rem;
}

/* .search_form button {
  width: 30%;
  border-radius: 0.25rem;
  border: none;
  background-color: var(--bkgrd_yellow_tone);
  color: var(--font_marine-tone01);
  font-weight: 500;
  font-size: 1rem;
} */

.submit_button {
  width: 30%;
  border-radius: 0.25rem;
  border: none;
  background-color: var(--bkgrd_yellow_tone);
  color: var(--font_marine-tone01);
  font-weight: 500;
  font-size: 1rem;
}

.search_results {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
}

.result_container {
  padding: 0.5rem 1rem;
  border: 2px solid var(--bkgrd_grey-tone02);
  border-radius: 0.25rem;

  display: flex;
  justify-content: space-between;
}

.result_container h1 {
  margin: 0;
  font-size: 1.125rem;
}

.result_icon {
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;

  transform: rotate(90deg);
  opacity: 0;
}

.result_container:hover {
  border: 2px solid var(--bkgrd_grey-tone01);
  color: var(--bkgrd_grey-tone01);
  font-weight: 600;
}

.result_container:hover > .result_icon {
  transform: rotate(0);
  opacity: 1;
}
