.container {
}

.wind_value {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}

.wind_value h1 {
  margin: 0;
  font-size: 3.5rem;
}

.wind_value h4 {
  margin: 0;
  font-size: 1.75rem;
  transform: translateY(20%);
}

.wind_direction {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.compass {
  background-color: var(--bkgrd_marine-tone01);
  color: var(--font_grey-tone01);
  width: 2rem;
  height: 2rem;

  border: none;
  border-radius: 100%;

  transition: transform 1s ease-in-out;
}

.compass span {
  font-size: 1.25rem;
}

.wind_direction h3 {
  margin: 0;
  font-size: 1.25rem;
}
