.container {
  width: 90%;
  padding: 1rem 2rem;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
  padding-left: 1.75rem;
}

.stats_section {
  padding: 0 1.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
