.container {
  width: 14%;
  background-color: var(--bkgrd_marine-tone02);
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  font-size: 1rem;

  border-radius: 5px;
}

.weather_date {
  margin: 0.5rem 0;
}

.icon_container {
  margin: 0.75rem 0;
}

.weather_state {
  width: 80%;
  height: 80%;

  /*Later change this images and remove this field*/
  transform: translateX(-15%);
}

.weather_temp {
  display: flex;
  padding: 1rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  gap: 0.75rem;
}

.weather_temp h5 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
}

.min_temp {
  color: var(--font_grey-tone02);
}

.marked_date h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.marked_date {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
}

.tomorrow_header {
  margin: 0;
  font-size: 1.5rem;
}

/*Big-Size Screen (lower than 1200px)*/
@media (max-width: 1199.98px) {
  .container {
    width: 13%;
    padding: 1rem;
    font-size: 0.5rem;
  }

  .weather_state {
    width: 90%;
    height: 90%;
    transform: translateX(-8%);
  }

  .tomorrow_header {
    margin: 0;
    font-size: 1.25rem;
  }

  .marked_date h3 {
    margin: 0;
    font-size: 1.125rem;
  }
}

/*Medium-Size Screen (lower than 992px)*/
@media (max-width: 991.98px) {
  .container {
    width: 12%;
    padding: 1rem;
  }

  .weather_state {
    width: 95%;
    height: 95%;
  }

  .tomorrow_header {
    margin: 0;
    font-size: 0.9rem;
  }

  .marked_date h3 {
    margin: 0;
    font-size: 0.9rem;
  }

  .weather_temp {
    /* border: 1px solid yellow; */
    padding: 0.5rem;
    gap: 0.7rem;
  }

  .weather_temp h5 {
    font-size: 0.95rem;
  }
}

/*Small-Size Screen (lower than 768px)*/
@media (max-width: 767.98px) {
}

/*Smallest Screen (lower than 576px)*/
@media (max-width: 575.98px) {
}
