.container {
  padding: 1.5rem;
  display: block;

  border: 1px solid red;
}

.datetime_section {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 0 2rem;
  justify-content: space-between;
  gap: 0;
}

.datetime_section h1,
.datetime_section h3 {
  margin: 0;
}

.datetime_section h1 {
  font-size: 1.75rem;
}

.datetime_section h3 {
  font-size: 1.25rem;
}

.datetime_section span {
  font-size: 0.75rem;
  margin-left: 1rem;
  margin-top: 0.25rem;
}

.actual_date {
  display: flex;
  margin: 0 1rem;
  justify-content: space-between;

  gap: 0.25rem;
}

.current_location {
  text-align: center;
  margin-top: 1.5rem;
}

.current_location h5 {
  margin: 0;
}

.current_location span {
  transform: translateY(20%);
  margin-right: 0.25rem;
}

/*Small-Size Screen (lower than 768px)*/
@media (max-width: 767.98px) {
  .datetime_section {
    margin: 0 4.5rem;
  }

  .datetime_section h1 {
    font-size: 2rem;
  }

  .datetime_section h3 {
    font-size: 1.5rem;
  }

  .actual_date {
    gap: 0.5rem;
  }

  .current_location h5 {
    font-size: 1.3rem;
  }
}

/*Smallest Screen (lower than 576px)*/
@media (max-width: 575.98px) {
  .datetime_section {
    margin: 0 5.5rem;
  }

  .datetime_section h1 {
    font-size: 2.25rem;
  }

  .datetime_section h3 {
    font-size: 2rem;
  }

  .datetime_section span {
    font-size: 1rem;
  }

  .current_location h5 {
    font-size: 1.5rem;
  }
}
