.container {
  background-color: var(--bkgrd_marine-tone02);
  width: 48%;
  text-align: center;
  font-family: var(--font-Raleway);
}

.stat_title {
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.stat_content {
  margin-top: 1rem;
  padding: 0 1rem;
  padding-bottom: 1.5rem;
}
